{{ define "main" }}
{{/* Get dojo data from language-specific YAML */}}
{{ $dojo := index .Site.Data .Site.Language.Lang "dojo" }}

{{/* Hero Section with Dojo Name and Logo */}}
<div class="cover bg-center" style="background-image: url('/images/hero.jpg'); background-size: cover; background-position: center;">
  <div class="bg-black-60">
    <div class="tc-l pv6 ph3 ph4-ns">
      {{/* Association Logo */}}
      {{ if fileExists "static/images/logo.png" }}
      <div class="mb4">
        <img src="/images/logo.png" alt="IOGKF Logo" class="center db" style="max-height: 120px; max-width: 300px;">
      </div>
      {{ end }}

      {{/* Dojo Name from YAML data */}}
      {{ if $dojo.dojo_name }}
      <div class="f2 f1-l fw2 white-90 mb0 lh-title">{{ $dojo.dojo_name }}</div>
      {{ else }}
      <div class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Site.Title }}</div>
      {{ end }}

      {{/* Welcome message */}}
      <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
        {{ if $dojo.description }}
        {{ $dojo.description }}
        {{ else }}
        {{ i18n "welcome_message" }}
        {{ end }}
      </div>

      {{/* Call-to-Action Buttons */}}
      <div class="mt4">
        <a href="{{ "contact" | relLangURL }}" class="f6 link dim br3 ph3 pv2 mb2 dib white bg-blue mr3">{{ i18n "contact_us" }}</a>
        <a href="{{ "schedule" | relLangURL }}" class="f6 link dim br3 ph3 pv2 mb2 dib white bg-green">{{ i18n "view_schedule" }}</a>
      </div>
    </div>
  </div>
</div>

{{/* Content Section */}}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
  {{ .Content }}

  {{/* Quick Info Section */}}
  {{ if $dojo }}
  <div class="mt5 pt4 bt b--light-gray">
    <div class="cf">
      {{/* Contact Info */}}
      <div class="fl w-100 w-50-ns pr3-ns">
        <h3 class="f3 fw6 mb3">Visit Our Dojo</h3>
        {{ if $dojo.address }}
        <div class="mb3">
          <h4 class="f5 fw6 mb1">Address</h4>
          <p class="f6 ma0 lh-copy">{{ $dojo.address | markdownify }}</p>
        </div>
        {{ end }}

        {{ if $dojo.phone }}
        <div class="mb3">
          <h4 class="f5 fw6 mb1">Phone</h4>
          <p class="f6 ma0"><a href="tel:{{ $dojo.phone }}" class="link blue">{{ $dojo.phone }}</a></p>
        </div>
        {{ end }}

        {{ if $dojo.email }}
        <div class="mb3">
          <h4 class="f5 fw6 mb1">Email</h4>
          <p class="f6 ma0"><a href="mailto:{{ $dojo.email }}" class="link blue">{{ $dojo.email }}</a></p>
        </div>
        {{ end }}
      </div>

      {{/* Training Hours */}}
      <div class="fl w-100 w-50-ns pl3-ns">
        <h3 class="f3 fw6 mb3">Training Hours</h3>
        {{ if $dojo.hours }}
        <div class="f6 lh-copy">
          {{ $dojo.hours | markdownify }}
        </div>
        {{ else }}
        <p class="f6 lh-copy">
          Please check our <a href="/schedule" class="link blue">schedule page</a> for current class times.
        </p>
        {{ end }}

        <div class="mt3">
          <a href="/schedule" class="f6 link dim br3 ph3 pv2 dib white bg-blue">Full Schedule</a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</article>
{{ end }}